# LibGuides API Credentials
# Get these from: https://ask.springshare.com/libguides/faq/1205
LIBGUIDES_SITE_ID=10827
LIBGUIDES_CLIENT_ID=949
LIBGUIDES_CLIENT_SECRET=8f74852f77bac78ae4adf1a5f9cf4bcd

# AI Search Server
NODE_ENV=production
PORT=8443
